[submodule "libraries/etl"]
	path = libraries/etl
	url = git://github.com/martinmake/fosl-etl.git
[submodule "libraries/util"]
	path = libraries/util
	url = git://github.com/martinmake/fosl-arm-util.git
[submodule "libraries/math"]
	path = libraries/math
	url = git://github.com/martinmake/fosl-math.git
[submodule "libraries/tty"]
	path = libraries/tty
	url = git://github.com/martinmake/fosl-tty.git
