[submodule "libraries/fosl-etl"]
	path = libraries/fosl-etl
	url = git://github.com/martinmake/fosl-etl.git
[submodule "libraries/fosl-arm-util"]
	path = libraries/fosl-arm-util
	url = git://github.com/martinmake/fosl-arm-util.git
[submodule "libraries/fosl-math"]
	path = libraries/fosl-math
	url = git://github.com/martinmake/fosl-math.git
[submodule "libraries/fosl-tty"]
	path = libraries/fosl-tty
	url = git://github.com/martinmake/fosl-tty.git
